<div class="swiper-container" [class.heightLimit] = "heightLimit">
    <swiper-container class="swiper" space-between="30" slides-per-view="auto" free-mode="true">

    <!-- SLIDER FILM ULTIMI USCITI -->
    <swiper-slide class="slide" *ngFor="let el of elementi" > 
      <a [href]="tipo==='film'? 'scheda/'+ el.id: 'schedaTelefilm/'+ el.id">
        <img *ngIf="el?.poster_path" src="https://image.tmdb.org/t/p/w400{{el?.poster_path}}" alt="">
      </a>
    </swiper-slide>
  </swiper-container>
</div>


  
