<div class="formContainer">
    <div class="close" (click)="close.emit()">
        <img src="assets/img/loghi/close.svg" alt="">
    </div>

    <h2 class="title">CONTATTI</h2>

    <div class="contatti">
            <h3>EMAIL</h3>
            <p>info@labtv.com</p>
            <p>assistenza@labtv.com</p>

            <h3>NUMERI DI TELEFONO</h3>
            <p>069631111</p>

            <h3>ORARIO ASSISTENZA</h3>
            <p>dal lunedì al venerdi</p>
            <p>ore 9:00 - 18:00</p>
    </div>
</div>